body {
    margin: 0;
}

ul {
    list-style-type: none;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #454643;
}

li {
    float: left;
}

/* li.right {
    border-right: none;
    float: right;
} */


li a {
    background-color: #454643;
    color: white;
    text-align: center;
    padding: 10px 18px;
    display: inline-block;
}



li > a:hover {
    background-color: red;
    color: white;
}



.text {
    padding: 5px 15px;
}

.content {
    display: none;
    position: absolute;
    min-width: 160px;
}

.content a {
    display: block;
    text-align: left;
    background-color: whitesmoke;
    color: black;
}

.content a:hover {
    background-color: gainsboro;
    color: white;
}

.dropdown:hover .content {
    display: block;
}



@media screen and (min-width: 900px) {
    ul {
        position: absolute;
        width: 25%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: auto;
        background-color: #454643;
    }

    li {
        float: none;
    }

    .text {
        margin-left: 25%;
    }
}


@media screen and (max-width: 400px) {

    li {
        width: 100%;
        display: block;
        float: none;
    }
}

